.topbar-container {
  grid-area: topbar;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;

  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}
